#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a5b6ee;
  color: #ffffff;
}

h1 {
  color: aliceblue;
}

img {
  background-color: powderblue;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  background-color: #5572bb;
}

hr {
  width: 500px;
  border: 1px solid darkgray;
}
.time {
  display: flex;
  flex-direction: row;
}
.time-o {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.time-i {
  width: 100px;
  height: 100px;
  /* border: 1px solid gray; */
  box-shadow: 0px 0px 1px 4px gray;
}
